relaxng/api.xml

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">

	<include href="c-types.xml"/>
	<include href="g-types.xml"/>
	<include href="util.xml"/>

	<define name="namespace">
		<element name="namespace">
			<attribute name="name"/>
			<interleave>
				<zeroOrMore>
					<ref name="object"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="interface"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="enum"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="flags"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="boxed"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="function"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="callback"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="struct"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="union"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="constant"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="errordomain"/>
				</zeroOrMore>
			</interleave>
		</element>
	</define>

	<define name="api">
		<element name="api">
			<optional>
				<attribute name="version"/>
			</optional>
			<oneOrMore>
				<ref name="namespace"/>
			</oneOrMore>
		</element>
	</define>

	<start>
		<ref name="api"/>
	</start>

</grammar>
