relaxng/c-types.xml

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">

	<define name="type">
		<attribute name="type"/>
	</define>

	<!-- CONSTANT -->
	<define name="constant">
		<element name="constant">
			<attribute name="name"/>
			<ref name="type"/>
			<attribute name="value"/>
			<ref name="deprecated"/>
		</element>
	</define>

	<!-- ENUM -->
	<define name="enum">
		<element name="enum">
			<attribute name="name"/>
			<optional>
				<attribute name="type-name"/>
			</optional>
			<optional>
				<attribute name="get-type"/>
			</optional>
			<ref name="deprecated"/>
			<oneOrMore>
				<ref name="member"/>
			</oneOrMore>
		</element>
	</define>

	<define name="member">
		<element name="member">
			<attribute name="name"/>
			<attribute name="value"/>
			<ref name="deprecated"/>
		</element>
	</define>

	<!-- UNION -->
	<define name="union">
		<element name="union">
			<attribute name="name"/>
			<optional>
				<attribute name="type-name"/>
			</optional>
			<optional>
				<attribute name="get-type"/>
			</optional>
			<optional>
				<attribute name="cname"/>
			</optional>
			<ref name="deprecated"/>
			<oneOrMore>
				<ref name="field"/>
			</oneOrMore>
		</element>
	</define>

	<!-- STRUCTURE -->
	<define name="struct">
		<element name="struct">
			<attribute name="name"/>
			<ref name="deprecated"/>
			<optional>
				<attribute name="cname"/>
			</optional>
			<interleave>
				<oneOrMore>
					<ref name="field"/>
				</oneOrMore>
				<zeroOrMore>
					<ref name="method"/>
				</zeroOrMore>
			</interleave>
		</element>
	</define>

	<define name="field">
		<element name="field">
			<attribute name="name"/>
			<optional>
				<attribute name="branch"/>
			</optional>
			<optional>
				<attribute name="cname"/>
			</optional>
			<optional>
				<attribute name="offset"/>
			</optional>
			<optional>
				<attribute name="bits"/>
			</optional>
			<optional>
				<attribute name="readable">
					<choice>
						<value>0</value>
						<value>1</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="writable">
					<choice>
						<value>0</value>
						<value>1</value>
					</choice>
				</attribute>
			</optional>
			<ref name="type"/>
		</element>
	</define>

	<!-- FUNCTION TYPE -->
	<define name="function">
		<element name="function">
			<attribute name="name"/>
			<attribute name="symbol"/>
			<ref name="deprecated"/>
			<ref name="signature"/>
		</element>
	</define>

	<define name="callback">
		<element name="callback">
			<attribute name="name"/>
			<ref name="deprecated"/>
			<ref name="signature"/>
		</element>
	</define>

	<define name="signature">
		<interleave>
			<optional>
				<ref name="parameters"/>
			</optional>
			<element name="return-type">
				<ref name="type"/>
				<optional>
					<attribute name="null-ok"/>
				</optional>
				<optional>
					<attribute name="transfer">
						<choice>
							<value>full</value>
							<value>shallow</value>
							<value>none</value>
						</choice>
					</attribute>
				</optional>
			</element>
		</interleave>
	</define>

	<define name="parameters">
		<element name="parameters">
			<oneOrMore>
				<ref name="parameter"/>
			</oneOrMore>
		</element>
	</define>

	<define name="parameter">
		<element name="parameter">
			<attribute name="name"/>
			<optional>
				<attribute name="direction">
					<choice>
						<value>in</value>
						<value>out</value>
						<value>inout</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="optional">
					<ref name="zero-one"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="null-ok">
					<ref name="zero-one"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="retval">
					<ref name="zero-one"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="dipper">
					<ref name="zero-one"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="transfer">
					<choice>
						<value>full</value>
						<value>shallow</value>
						<value>none</value>
					</choice>
				</attribute>
			</optional>
			<ref name="type"/>
		</element>
	</define>

</grammar>
